-#%p#notice= notice
-#
-#%p
-#  %b Article:
-#  = @article_attachment.article_id
-#%p
-#  %b Image:
-#  = @article_attachment.image
-#
-#= link_to 'Edit', edit_article_attachment_path(@article_attachment)
-#\|
-#= link_to 'Back', article_attachments_path
