=render 'static/header'
.articles-base
  %h2.yield.animated.bounceInLeft
    = 'Статьи'
  .wrapper.flex
    .articles.animated.bounceInUp
      .articles-list
        - @articles.each_with_index do |article, index|
          .article
            .article-title
              %p
                = article.title
            .article-thumb
            -#= image_tag article.url
            .article-details
              = link_to 'Читать дальше..', article_path(article), class: 'details-link animation'
= render 'static/footer'