-#=render 'static/header'
-#.articles-wrapper
-#  %ul.articles.wrapper
-#    - @articles.each do |article|
-#      %li.article
-#        .article-title
-#          %p
-#            = article.title
-#        .article-thumb
-#          -#= image_tag article.url
-#        .article-details
-#          = link_to 'Читать дальше..', dashboards_article_path(article), class: 'details-link'

