#footer
  %p
    ©
    = Time.now.year
    = t('home.disclaimer')
  %p.author
    = 'Разработка сайта: '
    = link_to 'Юрий Матусевич', 'https://plus.google.com/111977016924677242151/posts', target: '_blank'