.header-m
  .wrapper-m
    =link_to root_path, class: 'logo-m' do
      =image_tag 'logo_22.png'
    .phones
      - @phones.each do |phone|
        %p
          = phone.number
    .languages
      -if I18n.locale == I18n.default_locale
        =link_to '', params.merge({locale: 'by'}), class: 'flag by animation'
      -else
        =link_to '', params.merge({locale: 'ru'}), class: 'flag ru animation'
    %nav.navigation
      =render 'static/nav_links'
#header-mobile
  #header_inner_mobile
    =link_to root_path, class: 'logo animation' do
      =image_tag 'logo_11.png'
  %input#menu{:type => 'checkbox'}
  %label#menu{:for => 'menu', :onclick => ''}
  %ul
    %li
      =link_to t('home.portfolio'), albums_path
    %li
      =link_to t('home.articles'), articles_path
    %li
      =link_to t('home.about'), o_nas_path
    -if I18n.locale == I18n.default_locale
      %li
        =link_to 'На беларусском', params.merge({locale: 'by'})
    -else
      %li
        =link_to 'На русском', params.merge({locale: 'ru'})
#header
  #header_inner.wrapper
    =link_to root_path, class: 'logo animation' do
      =image_tag 'logo_11.png'
    #navigation
      =render 'static/nav_links'
      -if I18n.locale == I18n.default_locale
        =link_to '', params.merge({locale: 'by'}), class: 'flag by animation'
      -else
        =link_to '', params.merge({locale: 'ru'}), class: 'flag ru animation'
    - if current_admin
      .admin-here
        Здравствуйте, Администратор!
        =link_to 'Управление', dashboard_path #also change ApplicationController after_sign_in_path
        =link_to 'Выйти', destroy_admin_session_path, method: :delete, class: 'sign-out-link'