.dashboard
  = render 'dashboards/menu'
  .albums
    - @albums.each do |album|
      .left
        = album.title
        %br
        = image_tag album.images.first.url.url, width: '150px'
        %br
