// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Dashboard.

body {
  .new-service-form[data-state=showed], .new-advantage-form[data-state=showed] {
    display: block;
    opacity: 1;

    .form {
      opacity: 1;

      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
    }
  }

  .error-notification {
    width: 270px;
    height: 80px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    color: white;
    padding: 10px;
    background: black;
    border-radius: 10px;
    font-size: 12px;
  }

  .error-notification[data-state=showed] {
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);

    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;

    &:hover {
      opacity: .7;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
      filter: alpha(opacity=70);
    }
  }

  .error-notification[data-state=hidden] {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);

    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
  }
}

.dashboard {
  height: 100%;
}

.dashboard {
  display: block;
  background: #ffffff;

  a, a:hover {
    border: none;
    font-size: 14px;
  }

  p {
    text-decoration: underline;
  }

  .new-service-form[data-state=hidden], .new-advantage-form[data-state=hidden] {

    .form {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);

      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
    }
  }

  .new-service-form .head, .new-advantage-form .head, .blocks .block .head {
    height: 30px;
    padding: 10px;
    background-color: #9D0F0F;

    box-shadow: 1px 1px 3px black;
    -webkit-box-shadow: 1px 1px 3px black;
    -moz-box-shadow: 1px 1px 3px black;
    -o-box-shadow: 1px 1px 3px black;
    color: white;
  }

  .new-service-form, .new-advantage-form {
    width: 100%;
    display: none;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.88);

    .form {
      width: 400px;
      height: auto;
      padding-bottom: 10px;
      background-color: rgb(60, 60, 60);
      z-index: 20;
      position: relative;
      text-shadow: 1px 1px 1px black;
      display: block;
      margin: 50px auto 0;
      box-shadow: 0 0 10px black;
      -webkit-box-shadow: 0 0 10px black;
      -moz-box-shadow: 0 0 10px black;
      -o-box-shadow: 0 0 10px black;


      .btn {
        border: none;
        padding: 10px 14px;
        height: 48px;
        color: #FFFFFF;
        font-size: 16px;
        background: #4CAF50;
        margin-top: 7px;

        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;

        &:hover {
          background: #499d4d;
        }
      }

      .close-link {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;

        img {
          width: 50px;
        }
      }

      input {
        font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
        font-weight: 500;
        margin: 10px auto 10px;
        -webkit-appearance: none;
        width: 90%;
        font-size: 0.9em;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 100%;
        border: none;
        padding: 1rem 1.3rem;
        border-left: 0.3rem solid #fff;
        display: block;
      }

      input.image {
        color: white;
      }

    }
  }

  .services, .phones, .advantages {

    .info {
      padding-right: 27px !important;
    }

    .service, .advantage, .phone {
      height: 20px;
      width: 89%;
    }

    .services-list, .advantages-list, .phones-list {
      text-transform: none;
      list-style: square outside;
      font-size: 15px;
      float: left;
      width: 100%;
      padding-top: 10px;
    }
  }

  .blocks {
    height: auto;
    min-width: 82%;
    min-height: 100%;
    position: absolute;
    left: 18%;
    margin: 0 auto;
    background: white;

    a {
      text-transform: none;
      font-size: 12px;
    }

    .link-add, .remove {
      cursor: pointer;
      float: right;
      padding-left: 15px;

      img {
        width: 15px;
      }
    }

    .line {
      position: relative;

      li{
        margin: 0 10px 0 30px;
      }
    }

    .line:hover {
      background-color: rgba(218, 218, 218, 0.37);
    }

    .block {
      max-width: 48%;
      margin: 9px;
      min-width: 350px;
      width: 48%;
      height: auto;
      float: left;
      position: relative;
      box-shadow: 1px 1px 10px black;
      color: black;
      min-height: 250px;

      -webkit-transition: background 0.2s ease-out;
      -moz-transition: background 0.2s ease-out;
      -o-transition: background 0.2s ease-out;
      transition: background 0.2s ease-out;

      &:hover {
        background-color: rgb(240, 240, 240);
      }
    }
  }

  .dashboard-wrapper {
    position: absolute;
    left: 18%;
    padding: 20px;
  }

  .dashboard-menu-wrapper {
    position: fixed;
    background: #393939;
    width: 18%;
    height: auto;
    min-height: 100%;
    float: left;
    font-size: 11px;
    color: rgba(234, 234, 234, 0.85);
    box-shadow: black 0 0 10px;
    z-index: 1;

    .menu-links {

      width: 100%;
      height: auto;
      padding-top: 50px;

      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */


      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;

      align-items: flex-end;

      font-size: 14px;
      font-weight: bold;

      a {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;

        width: 100%;

        padding: 5px 10px 5px 5px;
        color: #ECECEC;

        -webkit-transition:  0.4s ease-in-out;  // Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6
        -moz-transition:  0.4s ease-in-out;
        -o-transition:  0.4s ease-in-out;
        transition:  0.4s ease-in-out;
        border: none;
      }

      a:hover {
        border: none;
        background-color: #e5412d;
      }

      .current {
        border: none;
        background-color: #e5412d;
      }
    }

    .exit-link {

      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 10px;

      a.button {
        display: block;
        padding: 10px 55px;

        border: 0;
        box-shadow: 4px 2px 5px 0 rgba(0, 0, 0, 0.65);
        cursor: pointer;
        font-size: 14px;
        font-weight: normal;
        line-height: 45px;
        outline: none;
        text-align: center;
        text-transform: uppercase;

        color: #fff;

        background: #9D0F0F;

        vertical-align: middle;

        &:hover {
          background: #8d0f0f;

        }

        span {
          display: inline-block;
        }

        img {
          vertical-align: middle;
          margin: -2px 7px 0 0;
        }
      }

      .green {
        background: #0B6E00 !important;

        &:hover {
          background: #095C00 !important;
        }
      }

      .new-album, .back {
        margin-bottom: 30px;
        padding: 10px 10px !important;
      }

      .gray {
        background: #6C6C6C !important;

        &:hover {
          background: #5F5F5F !important;
        }
      }

      .yellow {
        background: #C59D00 !important;

        &:hover {
          background: #B38F00 !important;
        }
      }
    }
  }

  .dashboard-main-wrapper {
    width: 100%;
    height: 100%;
    background: #fff;
    font-size: 15px;

    a, a:hover {
      border: none;
      padding: 0;
    }

    .image-uploads {
      position: absolute;
      right: 30px;
      top: 220px;
      width: 450px;
      /* height: 242px; */
      padding: 10px;
      border: 1px solid black;
    }
  }
}

.dashboard-albums {
  width: 82% !important;
  background: white;
  position: absolute;
  left: 18%;
}

.dashboard-albums {
  width: 100%;
  padding-top: 10px;
  display: inline-block;
  position: relative;

  h1.service-title {
    font-size: 30px;
    text-align: center;
    padding: 25px;

    background: url(asset-path("title_bg.jpg")) no-repeat top center;
    background-size: 60%;
  }

  .services-list, .articles-list {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */


    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    flex-wrap: wrap;

    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;

    .service, .article {
      width: 30%;
      height: 150px;
      position: relative;
      background: #F0F0F0;
      float: left;
      margin: 4px;
      padding: 10px;

      box-shadow: 1px 1px 3px black;
      -webkit-box-shadow: 1px 1px 3px black;
      -moz-box-shadow: 1px 1px 3px black;
      -o-box-shadow: 1px 1px 3px black;

      -webkit-transition: 0.3s ease-in-out; // Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;

      &:hover {
        background: #D3D3D3;
      }

      .title {
        color: #512b1b;
        text-align: center;
        width: 180px;
        padding-top: 18%;
        float: left;
        word-wrap: break-word;
      }

      .service-image, .article-image {
        float: left;
        width: 135px;
        height: 135px;
        margin: 7px;
        overflow: hidden;
      }

      .image-counter, .is-published {
        position: absolute;
        bottom: 15px;
        right: 55px;
        float: left;
        font-size: 12px;
        padding-top: 55px;
      }

      .links {
        position: absolute;
        right: 10px;
        top: 10px;
      }

      img {
        width: 135px;
      }

    }

    .remove {
      cursor: pointer;
      float: right;
      padding-left: 15px;

      img {
        width: 15px;
      }
    }

    .remove-album {
      position: absolute;
      right: 10px;
      top: 10px;
    }

    .edit-album {
      position: absolute;
      right: 35px;
      top: 10px;
    }
  }
}

.input-form .images {
  width: 100%;
  min-height: 200px;
  height: 100%;
  text-align: center;
  margin-bottom: 40px;

  flex-wrap: wrap;

  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;

  .main {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;

    .image {
      float: left;
      width: 150px;
      height: 150px;
      border: 3px solid black;
      margin: 5px;
      overflow: hidden;
    }
  }
}

