/* General Structure and Layout */

body {
  color: #512b1b;
}

body.body {
  background: #e2ddd7 url(asset-path('paper_bg.jpg')) repeat;
}

#header {
  background: url(asset-path('header_bg.jpg')) no-repeat top center;
  width: 100%;
  padding-bottom: 25px;
}

#header, #header_inner {
  height: 155px;
}

#navigation {
  right: 10px;
  width: 450px;
  top: 95px;
}

.wrapper, h1.logo, a.logo {
  position: relative;
}

#navigation {
  position: absolute;
}

/* Header */

h1.logo, a.logo {
  background: url(asset-path("logo_11.png")) no-repeat;
  display: block;
  height: 100px;
  left: 10px;
  text-indent: -9999px;
  width: 350px;
  top: 30px;
  background-size: contain;
  padding: 0 !important;
}

h1.logo a {
  display: block;
  height: 100%;
  width: 100%;
}