- @images.each_with_index do |image, index|
  .main.flex
    =link_to image.url.url, data: {lightbox: "roadtrip"} do
      .image
        = image_tag image.url.url(:thumb), width: '150px'
    .remove-link
      = link_to 'Удалить', album_image_path(album_id: image.album_id, id: image), method: :delete, remote: true
